body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: gold;
  line-height: 1.6;
}

/* Header */
header {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid gold;
}

header h1 {
  color: gold;
}

header p {
  color: #d4af37;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

/* Hero */
.hero {
  background: #111;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

/* Cards */
.card {
  border: 1px solid gold;
  padding: 18px;
  margin: 10px auto;
  width: 85%;
  max-width: 600px;
  transition: 0.3s;
}

.card:hover {
  background: gold;
  color: black;
}

/* About / Services / Team */
.about, .services, .workflow, .team {
  background: #000;
}

/* Contact */
.contact {
  background: #111;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  font-size: 13px;
  border-top: 1px solid gold;
}
