body {
  margin: 0;
  font-family: Arial;
  background: #fff;
  color: #111;
}

/* Header */
header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: #111;
  color: gold;
}

/* Services */
.services {
  padding: 40px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.card {
  padding: 15px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.card:hover {
  background: gold;
  color: black;
}

/* CEO */
.ceo {
  text-align: center;
  padding: 40px;
  background: #f5f5f5;
}

/* Contact */
.contact {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}
